@import url('fonts/fonts.css');

#__bs_notify__ { display: none !important; }

html, body {
  background-color: #333;
}

body {
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

/* When the shopping cart is open */
body.cart-shown {
  #cart {
    visibility: visible;
    transform: scale(1) translateX(0);
    opacity: 1;

    .cart_item.added {
      transform: translateX(0);
      opacity: 1;
      .title { transform: translateX(0); }
      .price { transform: translateX(0); }
    }
  }
  #page {
    transform: scale(0.8) translateX(-300px) rotateY(20deg);
    z-index: 1;
    opacity: .4;
  }
}


nav {
  .logo {
    width: 80px;
  }
}

/* Sets a 3d perspective for the #page, when it's "rotated".
  A dedicated element is needed to keep the position: fixed for #cart */
  .perspective {
  perspective: 1000px;
}

/* #page is the whole page, this element is needed for
   the "page rotation" animation */
#page {
  transition: all ease 0.3s;
  background-color: #fff;
}

/* Shopping cart */
#cart {
  position: fixed;
  z-index: 1000;
  opacity: 0;
  background-color: #fff;
  
  overflow-y: auto;
  overflow-x: hidden;
  right: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  max-width: 100vw;
  padding: 30px;
  padding-right: 0;

  transform: scale(1.2) translateX(350px);
  transition: all ease 0.3s;

  h3 {
    font-size: .8em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
    color: #666;
  }

  table.table {
    /* To align the text */
    margin-left: -.75rem;
  }
  
  .cart_item {
    background-size: contain;
    background-position: 270% center;
    background-repeat: no-repeat;
    padding: 2.8em 0;
    transition: all ease 0.3s;
    transition-delay: .2s;

    .title {
      font-weight: 800;
      font-size: 1.4em;
      line-height: 1.7;
      transition: all ease 0.3s;
    }

    .price {
      opacity: .6;
      transition: all ease 0.3s;
      transition-delay: .1s;
    }
    
    /* Ads an animation for the just added item 
       when the cart is opened */
    &.added {
      transform: translateX(100px);
      opacity: 0;
      .title { transform: translateX(400px) }
      .price { transform: translateX(400px) }
    }
  }

}


main {
  padding: 60px 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  /* Not a very smart use of css grids */
  grid-template-areas:
    "g g g a a a"
    "g g g b b b";
  
  @media screen and (max-width: 768px) {
    grid-template-areas:
      "g g g g g g"
      "a a a a a a"
      "b b b b b b";
  }
  
  /* Prodict title and description */
  article {
    grid-area: a;
    margin-bottom: 2em;

    h2 {
      font-size: 2.4em;
      margin-bottom: .5em;
    }
    
    p {
      line-height: 1.6;
      font-size: 1.2em;
    }
    
  }

  /* Add to cart and facts section */
  aside {
    grid-area: b;

    .buynow {
      background: rgb(244, 245, 247);
      padding: 20px 30px;
      border-radius: 4px;
      .price {
        font-size: 1.5em;
        font-weight: 600;
        margin: 0;
      }
      .in-stock {
        img { width: 25px; vertical-align: middle; margin-right: .3em; }
        color: #34c317;
        font-weight: 600;
        font-size: .8em;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      input[type="submit"] {
        width: 100%;
      }
    }

    .facts {
      margin-top: 30px;
      font-size: .8em;
      text-align: center;

      img {
        width: 32px;
      }
      figcaption {
        color: #666;
        margin-top: 5px;
      }
    }
  }

  /* Product image */
  figure {
    grid-area: g;
    img {
      max-width: 100%;
    }
  }
}

/* GUESTS WHO BOUGHT THIS ALSO BOUGHT... */
.similar {
  margin: 50px 0;

  h3 {
    text-align: center;
    margin: 2em 0;
    font-size: .8em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
    color: #666;
  }

  a {
    display: block;
    &:hover {
      text-decoration: none;
      figure {
        background: rgb(244, 245, 247);
      }
    }
  }

  figure {
    color: #000;
    background: rgba(246, 247, 248, 0.8);
    padding: 20px 20px;
    border-radius: 4px;
    text-align: center;
    transition: all ease 0.3s;
    margin: .5em 0;

    img {
      max-width: 150px;
      mix-blend-mode: darken;
      margin-bottom: .8em;
    }
  }
}

/* Home page styles */
section.index {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-areas:
    "a a a . . one"
    "a a a . two three"
    "a a a four five six";
  
  @media screen and (max-width: 648px) {
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
      "one one two two three three"
      "a a a a a a"
      "four four five five six six";
    font-size: 12px;
  }
  
  article {
    grid-area: a;
    align-self: center;
    padding: 2em;

    h1 {
      font-size: 4em;
      line-height: 1.1;
    }

    p {
      font-size: 1.3em;
      line-height: 1.6;
      margin: 1em 0;
    }
  }
  
  /* Mosaic */
  figure {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    background-blend-mode: multiply;
  }

  .one {
    grid-area: one;
    background-image: url(../images/a9_large.jpg);
    background-color: rgb(224, 147, 32);
  }

  .two {
    grid-area: two;
    background-image: url(../images/c9_large.jpg);
    background-color: rgb(243, 63, 63);
  }
  .three {
    grid-area: three;
    background-image: url(../images/m9_large.jpg);
    background-color: rgb(43, 220, 243);
  }
  .four {
    grid-area: four;
    background-image: url(../images/t9_large.jpg);
    background-color: rgb(31, 197, 73);
  }
  .five {
    grid-area: five;
    background-image: url(../images/x9_large.jpg);
    background-color: rgb(179, 22, 171);
  }
  .six {
    grid-area: six;
    background-image: url(../images/s9_large.jpg);
    background-color: rgb(64, 26, 236);
  }

}

/* Footer */
footer {
  background-color: rgb(244, 245, 247);
  
  padding: 40px 0;
  font-size: .8em;
  color: #999;
  text-align: center;
}