doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title A9 Compact – Automoblox
    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    link(href='favicon.png', rel='icon')
    <meta name="viewport" content="width=device-width, initial-scale=1">
  body
    #cart
      .cart__inner
        h3 Cart
        #cart_items        
        table.table
          tr
            td Subtotal
            td $19.98
          tr
            td HST 13%
            td $2.59
          tr
            th Total
            th $22.57
          

        a#checkout.btn.btn-danger.btn-lg(href="#") Pay $22.57

    #page
      nav.navbar.navbar-expand-lg.navbar-light.bg-light: .container-fluid
        a.navbar-brand(href="/"): img.logo(src="images/logo.png")
        button.navbar-toggler(data-toggle="collapse" data-target="#navbar"): span.navbar-toggler-icon

        .collapse.navbar-collapse#navbar
          .mr-auto
          ul.navbar-nav.mr-0
            li.nav-item.active: a.nav-link(href="a9.html") A9 Compact
            li.nav-item: a.nav-link(href="c9r.html") C9-R Sportscar
            li.nav-item: a.nav-link(href="m9.html") M9 Sportvan
            li.nav-item: a.nav-link(href="t9.html") T9 Pickup
            li.nav-item: a.nav-link(href="x9.html") X9 SUV
      
      .container: main
        figure
          img(src="images/a9_large.jpg" alt="A9 Compact")

        article
          header
            h2 Automoblox® A9 Compact
          p Inspired by the compact cars popular in Europe and Japan, the A9 may be the smallest car in the line-up, but it is certainly big on style. Featuring smaller 3-spoke wheels, low-profile tires and a generous roofline with plenty of headroom, your child is sure to get great mileage from this little gem.

        aside
          section.buynow
            form(action="shop.php" method="POST").row.justify-content-start
              label.price.col-2 <small>$</small>9.99
              label.in-stock.col-4.col-form-label
                img(src="images/icons/instock.svg" alt="In Stock")
                | In Stock
              .col-6
                input#addtocart.btn.btn-danger(type="submit" value="Add to Cart" data-title="A9 Compact" data-price="$9.99" data-photo="images/a9_large.jpg")
              

          section.facts.row
            figure.col
              img(src="images/icons/age.svg" alt="Age")
              figcaption Ages 3 & Up
            figure.col
              img(src="images/icons/content.svg" alt="Contents")
              figcaption 13 Mix-and-Match Components
            figure.col
              img(src="images/icons/moneyback.svg" alt="Moneyback")
              figcaption 30 Day Moneyback
            figure.col
              img(src="images/icons/delivery.svg" alt="Free Delivery")
              figcaption Free Delivery
          
      
      aside.similar.container-fluid
        h3 Guests who bought this also bought
        nav.row
          a.col-sm-6.col-md-3(href="t9.html"): figure
            img(src="images/t9_large.jpg" alt="T9 Pickup")
            figcaption T9 Pickup
          a(href="m9.html").col-sm-6.col-md-3: figure
            img(src="images/m9_large.jpg" alt="M9 Sportvan")
            figcaption M9 Sportvan
          a(href="c9r.html").col-sm-6.col-md-3: figure
            img(src="images/c9r_large.jpg" alt="CX-R Sportscar")
            figcaption C9-R Sportscar
          a(href="x9.html").col-sm-6.col-md-3: figure
            img(src="images/x9_large.jpg" alt="X9 SUV")
            figcaption X9 SUV
          


      footer Designed by Ernest Iliiasov #200336022 for<br> COMP2081 Advanced Web Interface Design @ Georgian College

    script(src="js/jquery.min.js")
    script(src="js/popper.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/main.js")
