doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title Automoblox
    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    link(href='favicon.png', rel='icon')
    <meta name="viewport" content="width=device-width, initial-scale=1">
  body

    nav.navbar.navbar-expand-lg.navbar-light.bg-white
      a.navbar-brand(href="/"): img.logo(src="images/logo.png")
      button.navbar-toggler(data-toggle="collapse" data-target="#navbar"): span.navbar-toggler-icon

      .collapse.navbar-collapse#navbar
        .mr-auto
        ul.navbar-nav.mr-0
          li.nav-item: a.nav-link(href="a9.html") A9 Compact
          li.nav-item: a.nav-link(href="c9r.html") C9-R Sportscar
          li.nav-item: a.nav-link(href="m9.html") M9 Sportvan
          li.nav-item: a.nav-link(href="t9.html") T9 Pickup
          li.nav-item: a.nav-link(href="x9.html") X9 SUV
    
    #page
      section.index
        article
          header
            h1 Automoblox®<br> lorem ipsum
          p The 2016 Automoblox® M9 comfortably seats eight of our new people. The extra-long main passenger compartment and additional seating for four in the rear block give this vehicle the longest wheelbase in the line-up. Large Brembo® brakes with cross-drilled rotors, will enable your child to build a minivan that even dads won’t be able to resist.
          a(href="#").btn.btn-lg.btn-danger Buy Now
          
        
        figure.one
        figure.two
        figure.three
        figure.four
        figure.five
        figure.six

    footer Designed by Ernest Iliiasov #200336022 for<br> COMP2081 Advanced Web Interface Design @ Georgian College
    
    script(src="js/jquery.min.js")
    script(src="js/popper.min.js")
    script(src="js/bootstrap.min.js")
