@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('./Cabin-Regular.ttf');
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  src: url('./Cabin-Medium.ttf');
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: url('./Cabin-SemiBold.ttf');
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: url('./Cabin-Bold.ttf');
}
